<!-- <header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}

          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
   
    {%- endif -%}
  </div>
</header> -->
<header class="top">
  <h1><a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
  <div class="subtitle">
    <a href="{{ "/power" | relative_url }}">{{ site.subtitle | escape }} &nbsp;<svg class="icon" viewBox="0 0 500 500">
        <title>Solar</title>
        <circle class="svg_fill" cx="248.48" cy="252.55" r="97.03"></circle>
        <rect class="svg_fill" height="112.39" width="27.9" x="234.53" y="17.45"></rect>
        <rect class="svg_fill" height="112.39" width="27.9" x="234.53" y="375.25"></rect>
        <rect class="svg_fill" height="112.39" transform="translate(679.92 -174.83) rotate(90)" width="27.9" x="413.42"
          y="196.35"></rect>
        <rect class="svg_fill" height="112.39" transform="translate(322.12 182.97) rotate(90)" width="27.9" x="55.63"
          y="196.35"></rect>
        <rect class="svg_fill" height="112.39" transform="translate(198.96 -228.23) rotate(45)" width="27.9" x="361.03"
          y="69.85"></rect>
        <rect class="svg_fill" height="112.39" transform="translate(303.75 24.77) rotate(45)" width="27.9" x="108.03"
          y="322.85"></rect>
        <rect class="svg_fill" height="112.39" transform="translate(908.15 381.93) rotate(135)" width="27.9" x="361.03"
          y="322.85"></rect>
        <rect class="svg_fill" height="112.39" transform="translate(297.35 128.93) rotate(135)" width="27.9" x="108.03"
          y="69.85"></rect>
      </svg></a>
  </div>
  <nav id="menu">
    <div id="menu-s">
      menu
    </div>
    <!-- <ul id="menu-list">
       {% for page in site.pages %}
       {% if page.title %}
       <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
         {% endif %}
         {% endfor %}
       <li class="social">
         <a href="{{ "/feed.xml" | relative_url }}" rel="alternate" target="_blank" type="application/atom+xml"><svg
             class="icon" viewBox="0 0 80 80">
             <title>rss</title>
             <circle cx="19.91" cy="58.23" r="6.86"></circle>
             <path d="M67.89,65.72H55.7A41.86,41.86,0,0,0,13.89,23.91V11.73A54.06,54.06,0,0,1,67.89,65.72Z"></path>
             <path d="M48.93,65.72H36.75A22.88,22.88,0,0,0,13.89,42.87V30.68A35.08,35.08,0,0,1,48.93,65.72Z"></path>
           </svg></a>
       </li>
     </ul> -->
    <ul id="menu-list">
      <li><a href="/about">About</a></li>
      <li class="low"><a class="category" href="#/low-tech-solutions.html">Low-tech
          Solutions</a></li>
      <li class="hig"><a class="category" href="#/high-tech-problems.html">High-tech
          Problems</a></li>
      <li class="obs"><a class="category" href="#/obsolete-technology.html">Obsolete
          Technology</a></li>
      <li><a href="#/offline-reading.html">Offline Reading</a></li>
      <li><a href="#/archives.html">Archive</a></li>
      <li><a href="#/donate.html">Donate</a></li>
      <li class="social">
        <a href="{{ "/feed.xml" | relative_url }}" rel="alternate" target="_blank" type="application/atom+xml"><svg
            class="icon" viewBox="0 0 80 80">
            <title>rss</title>
            <circle cx="19.91" cy="58.23" r="6.86"></circle>
            <path d="M67.89,65.72H55.7A41.86,41.86,0,0,0,13.89,23.91V11.73A54.06,54.06,0,0,1,67.89,65.72Z"></path>
            <path d="M48.93,65.72H36.75A22.88,22.88,0,0,0,13.89,42.87V30.68A35.08,35.08,0,0,1,48.93,65.72Z"></path>
          </svg></a>
      </li>
    </ul>
  </nav>
  <!-- /#menu -->
  <div id="lang-dot" title="en">
    <svg class="icon" id="globe" viewBox="0 0 19.97 19.97" xmlns="http://www.w3.org/2000/svg">
      <circle class="stroke" cx="9.99" cy="9.99" r="9.24"></circle>
      <ellipse class="stroke" cx="9.99" cy="9.99" rx="4.63" ry="9.24"></ellipse>
      <line class="stroke" x1="9.99" x2="9.99" y1="0.75" y2="19.22"></line>
      <line class="stroke" x1="18.39" x2="1.58" y1="12.99" y2="12.99"></line>
      <line class="stroke" x1="18.39" x2="1.58" y1="6.99" y2="6.99"></line>
    </svg>
  </div>
  <nav id="languages">
    <ul>
      <li class="lang active-lang"><a class="lang-option" href="#/" title="en">en</a>
      </li>
      <li class="lang"><a class="lang-option" href="#/es/" title="es">es</a></li>
      <li class="lang"><a class="lang-option" href="#/fr/" title="fr">fr</a></li>
      <li class="lang"><a class="lang-option" href="#/nl/" title="nl">nl</a></li>
      <li class="lang"><a class="lang-option" href="#/de/" title="de">de</a></li>
      <li class="lang"><a class="lang-option" href="#/pl/" title="pl">pl</a></li>
      <li class="lang"><a class="lang-option" href="#/it/" title="it">it</a></li>
      <li class="lang"><a class="lang-option" href="#/pt/" title="pt">pt</a></li>
      <li class="lang"><a class="lang-option" href="#/ko/" title="ko">ko</a></li>
      <li class="lang"><a class="lang-option" href="#/ar/" title="ar">ar</a></li>
      <li class="lang"><a class="lang-option" href="#/vn/" title="vn">vn</a></li>
    </ul>
    <!--     English
 Español
 Français
 Nederlands
 Deutsche
 Polskie -->
  </nav>
</header>