---
layout: default
---
<section id="content">

    <header class="post-header">
      <h1 class="post-title">Posts in "{{ page.title | downcase }}"</h1>
    </header>

    <article class="post-content">
      <ul class="cols recent">
        {% for post in page.posts %}
        <!-- add a category-based class -->
        <!-- obs, low, hig -->
        <li class="{{ post.categories[0] | escape}}">
          <article>
            <a href="{{ post.url | relative_url }}" rel="bookmark" title="Permalink to {{ post.title | escape }}">
              <div class="featured-img"
                style="background-image: url('{{ site.baseurl }}/assets/img/{{ post.image }}');">
              </div>
              <h2 class="entry-title">{{ post.title | escape }}</h2>
            </a>
            <a class="category" href="#">Obsolete Technology</a>
            {%- if post.summary -%}
            {{ post.summary| truncatewords: 32, " ..." }}
            {%- endif -%}
            {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
            <time class="published"
              datetime="{{ post.date | date: date_format }}">{{ post.date | date: date_format }}</time>
          </article>
        </li>
        {%- endfor -%}
      </ul>
    </article>

</section>