---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  <div class="bat_status" data-charging="no" id="bat_data" style="top: 14vh;">
    <a href="#" title="Power">
      <span id="charge_icon">
        <svg class="icon battery-svg" viewBox="0 0 500 500">
          <title>Battery used</title>
          <polygon class="svg_stroke"
            points="327.01 127.16 327.01 47.31 172.99 47.31 172.99 127.16 115.52 127.16 115.52 452.69 384.48 452.69 384.48 127.16 327.01 127.16">
          </polygon>
          <polygon class="svg_fill" points="357.64 408.86 158.26 408.86 158.26 209.49 357.64 408.86"></polygon>
        </svg>
        <svg class="icon sun-svg" viewBox="0 0 500 500">
          <title>Battery charging</title>
          <circle class="svg_fill" cx="248.48" cy="252.55" r="97.03"></circle>
          <rect class="svg_fill" height="112.39" width="27.9" x="234.53" y="17.45"></rect>
          <rect class="svg_fill" height="112.39" width="27.9" x="234.53" y="375.25"></rect>
          <rect class="svg_fill" height="112.39" transform="translate(679.92 -174.83) rotate(90)" width="27.9"
            x="413.42" y="196.35"></rect>
          <rect class="svg_fill" height="112.39" transform="translate(322.12 182.97) rotate(90)" width="27.9" x="55.63"
            y="196.35"></rect>
          <rect class="svg_fill" height="112.39" transform="translate(198.96 -228.23) rotate(45)" width="27.9"
            x="361.03" y="69.85"></rect>
          <rect class="svg_fill" height="112.39" transform="translate(303.75 24.77) rotate(45)" width="27.9" x="108.03"
            y="322.85"></rect>
          <rect class="svg_fill" height="112.39" transform="translate(908.15 381.93) rotate(135)" width="27.9"
            x="361.03" y="322.85"></rect>
          <rect class="svg_fill" height="112.39" transform="translate(297.35 128.93) rotate(135)" width="27.9"
            x="108.03" y="69.85"></rect>
        </svg>
      </span>
      <span id="level">86</span></a>
  </div>

  <div id="battery" style="height: 86%;"></div>

  <main>
    {%- include header.html -%}
    <div class="wrapper">
      {{ content }}
    </div>
    {%- include footer.html -%}
    <div id="page-size">36.48KB</div>
  </main>

</body>

</html>