---
layout: default
---

<section id="content">

    <!-- Latest article feature -->
    <ul class="cols cover low">
      {% for post in site.posts limit:1 %}
      <li>
        <a href="{{ post.url | relative_url }}" rel="bookmark" title="Permalink to {{ post.title | escape }}">
          <h2 class="entry-title">{{ post.title | escape }}</h2>
        </a>
        <a class="category" href="#">Low-tech solutions</a>
        {%- if post.summary -%}
        <p class="index-summary">
          {{ post.summary | truncatewords: 32, " ..." }}
        </p>
        {%- endif -%}
        {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
        <time class="published"
          datetime="{{ post.date | date: date_format }}">{{ post.date | date: date_format }}</time>
      </li>
      <li>
        <a href="{{ post.url | relative_url }}" rel="bookmark" title="Permalink to {{ post.title | escape }}">
          <div class="featured-img" style="background-image: url('{{ site.baseurl }}/assets/img/{{ post.image }}');">
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>

    <!-- Recent Articles -->
    {%- if site.posts.size > 1 -%}
    <ul class="cols recent">
      {%- for post in site.posts offset:1 -%}
      <!-- add a category-based class -->
      <!-- obs, low, hig -->
      <li class="{{ post.categories[0] | escape}}">
        <article>
          <a href="{{ post.url | relative_url }}" rel="bookmark" title="Permalink to {{ post.title | escape }}">
            <div class="featured-img" style="background-image: url('{{ site.baseurl }}/assets/img/{{ post.image }}');">
            </div>
            <h2 class="entry-title">{{ post.title | escape }}</h2>
          </a>
          <a class="category" href="#">Obsolete Technology</a>
          {%- if post.summary -%}
          {{ post.summary| truncatewords: 32, " ..." }}
          {%- endif -%}
          {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
          <time class="published"
            datetime="{{ post.date | date: date_format }}">{{ post.date | date: date_format }}</time>
        </article>
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}

  </section>
