---
layout: default
---

<section id="content">

    <!-- Latest article feature -->
    <ul class="cols cover low">
      {% for post in paginator.posts limit:1 %}
      <li>
        <a href="{{ post.url | relative_url }}" rel="bookmark" title="Permalink to {{ post.title | escape }}">
          <h2 class="entry-title">{{ post.title | escape }}</h2>
        </a>
        <a class="category" href="#">Low-tech solutions</a>
        {%- if post.summary -%}
        <p class="index-summary">
          {{ post.summary | truncatewords: 32, " ..." }}
        </p>
        {%- endif -%}
        {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
        <time class="published"
          datetime="{{ post.date | date: date_format }}">{{ post.date | date: date_format }}</time>
      </li>
      <li>
        <a href="{{ post.url | relative_url }}" rel="bookmark" title="Permalink to {{ post.title | escape }}">
          <div class="featured-img" style="background-image: url('{{ site.baseurl }}/assets/img/{{ post.image }}');">
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>

    <!-- Recent Articles -->
    {%- if paginator.posts.size > 1 -%}
    <ul class="cols recent">
      {%- for post in paginator.posts offset:1 -%}
      <!-- add a category-based class -->
      <!-- obs, low, hig -->
      <li class="{{ post.categories[0] | escape}}">
        <article>
          <a href="{{ post.url | relative_url }}" rel="bookmark" title="Permalink to {{ post.title | escape }}">
            <div class="featured-img" style="background-image: url('{{ site.baseurl }}/assets/img/{{ post.image }}');">
            </div>
            <h2 class="entry-title">{{ post.title | escape }}</h2>
          </a>
          <a class="category" href="#">Obsolete Technology</a>
          {%- if post.summary -%}
          {{ post.summary| truncatewords: 32, " ..." }}
          {%- endif -%}
          {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
          <time class="published"
            datetime="{{ post.date | date: date_format }}">{{ post.date | date: date_format }}</time>
        </article>
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}

  </section>

  <div class="paginator">
    page 1 / 10
    <a href="#">»</a>
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="/">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
