---
layout: default
---
<section class="article" id="content">

  <header class="post-header">
    <div class="submenu">
      <a class="category category-low" href="https://solar.lowtechmagazine.com/low-tech-solutions.html">
        Low-tech Solutions</a>
    </div>
    <h1 class="entry-title">{{ page.title | escape }}</h1>
    <p class="summary">{{ page.summary | escape }}</p>
  </header>

  <div class="entry-content">
    {{ content }}
  </div>

</section>

<ul id="post-nav">
  {% if page.previous.url %}
  <li class="newer">
    <p class="gray">← newer post</p>
    <a href="{{page.next.url}}">  
      {{page.next.title}}
    </a>
  </li>
  {% endif %}
  <li class="older">
    <p class="gray">older post →</p>
    <a href="{{page.previous.url}}">
      {{page.previous.title}}
    </a>
  </li>
</ul>